.menu a{
	color:green;
}
.item
{
	border:2px solid red;
	margin:20px;
	border-radius:20px;
	
}
.item .price{
	color:green;
	background:pink;
}
.itemurgent{
	background:yellow;
	border:2px solid red;
	border-radius:20px;
	
}
.itemurgent .price{
	color:green;
	background:pink;

}
.item .city{
	font-weight:bolder;
}
.itemurgent .city{
	font-weight:bolder;
}